<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.wistia.alfred_helpers</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>29ACF9C3-559D-4059-912B-6CB40B5ADEDC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6EDB5244-9D7B-40B9-A361-97BE094DDE34</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BB8A8901-224C-4B2A-8485-55832BB56722</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F8EF505-2BCF-48D6-AA39-90F0F0C773F0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D358BB10-D3DB-4C9B-8D00-EE8106DD4F08</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F8A32EBB-A1CF-4D08-B70A-04E02F5294F6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DCE4DA2C-DA93-451C-9232-FCFFAE7B8385</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>84092A58-DB6F-4263-B6E9-CE056CBD44C2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ryan Artecona</string>
	<key>description</key>
	<string>WIP</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Wistia</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>wistia issues</string>
				<key>subtext</key>
				<string>https://github.com/wistia/{query}/issues</string>
				<key>text</key>
				<string>Open Issues for {query} repo</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DCE4DA2C-DA93-451C-9232-FCFFAE7B8385</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://github.com/wistia/{query}/issues</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>84092A58-DB6F-4263-B6E9-CE056CBD44C2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://github.com/wistia/wistia/issues</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6EDB5244-9D7B-40B9-A361-97BE094DDE34</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>wistia issues</string>
				<key>subtext</key>
				<string>https://github.com/wistia/wistia/issues</string>
				<key>text</key>
				<string>Open Issues for wistia repo</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>29ACF9C3-559D-4059-912B-6CB40B5ADEDC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://github.com/wistia/{query}/issues/new</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>4F8EF505-2BCF-48D6-AA39-90F0F0C773F0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>wistia issue</string>
				<key>subtext</key>
				<string>https://github.com/wistia/{query}/issues/new</string>
				<key>text</key>
				<string>Open New Issue in {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BB8A8901-224C-4B2A-8485-55832BB56722</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://github.com/wistia/wistia/issues/new</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F8A32EBB-A1CF-4D08-B70A-04E02F5294F6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>wistia issue</string>
				<key>subtext</key>
				<string>https://github.com/wistia/wistia/issues/new</string>
				<key>text</key>
				<string>Open New Issue in wistia</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D358BB10-D3DB-4C9B-8D00-EE8106DD4F08</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>29ACF9C3-559D-4059-912B-6CB40B5ADEDC</key>
		<dict>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>4F8EF505-2BCF-48D6-AA39-90F0F0C773F0</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>6EDB5244-9D7B-40B9-A361-97BE094DDE34</key>
		<dict>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>84092A58-DB6F-4263-B6E9-CE056CBD44C2</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>BB8A8901-224C-4B2A-8485-55832BB56722</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>D358BB10-D3DB-4C9B-8D00-EE8106DD4F08</key>
		<dict>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>DCE4DA2C-DA93-451C-9232-FCFFAE7B8385</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>F8A32EBB-A1CF-4D08-B70A-04E02F5294F6</key>
		<dict>
			<key>ypos</key>
			<real>330</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://wistia.com</string>
</dict>
</plist>
