<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>29943FEC-1350-4D36-88CC-DEEFA78D9B71</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B49BA830-970E-4390-9F98-5C6112F2E981</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Marcos Mellado</string>
	<key>description</key>
	<string>Open a jira ticket</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>JIRA</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://jira01.corp.linkedin.com:8443/browse/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B49BA830-970E-4390-9F98-5C6112F2E981</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>jira</string>
				<key>text</key>
				<string>Jira Search</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>29943FEC-1350-4D36-88CC-DEEFA78D9B71</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>29943FEC-1350-4D36-88CC-DEEFA78D9B71</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>B49BA830-970E-4390-9F98-5C6112F2E981</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
