<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>0317D75E-DE8D-4815-8F7F-694BAB700986</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>091CACA9-8C97-4926-A0A3-03BF072988D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>220CE0F7-7F59-468E-9D1C-A4070FFCFBB1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>98D0EFBB-C39A-4F91-8C23-138CDA9A37B6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>288A0B32-E9DE-4A81-9359-F7F22085A891</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DE7A65D3-6347-42F4-B64C-81C56795F91A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>36DC1139-B5D5-4660-972A-C0896771E11A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>988BB796-153C-4B29-ACA3-5A823F165B2E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>39073161-6072-4127-8240-7B8E043F38AE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7DC15F1F-AF73-45F4-B96F-05BA36B1EBAD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>55808A08-AC87-422F-B3E1-3D6F4784225B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>26B924EF-CD3F-4090-8B37-8F5D718F6FA1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>78C9AF81-2301-41FF-BA0E-19B983C8E38D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>77575FEC-9B0A-4A2C-A3A8-C39BE40B9FD0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8B6E90B1-2C92-4AEC-B261-83F905597E63</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AAE4DE48-0FCE-4D6F-B987-DD0A92A30134</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>994AA06E-F5F6-489C-AADE-B963008610C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5140E495-9495-4A38-AD0F-E19DFD784DD7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E24CDF92-61A0-4DB7-94E3-AB041940266D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CE3A2B29-CF53-466A-B97D-E9B1CC7EEF43</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F1CCFF48-6424-45D5-94F9-442F41EC0D68</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79A62EE0-DB80-4898-B30F-DB6A34C4A613</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F87EBD68-C1AA-40BD-B0A5-370C16DD2D18</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>09E6AB03-C2F7-4EE9-8BA3-85D5092DB33F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ryan Artecona</string>
	<key>description</key>
	<string>Hotkeys for home-row hotkey app switching</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Launch/Switch Apps</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Google Chrome.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>CE3A2B29-CF53-466A-B97D-E9B1CC7EEF43</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>8</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>C</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>E24CDF92-61A0-4DB7-94E3-AB041940266D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>1</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>S</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>220CE0F7-7F59-468E-9D1C-A4070FFCFBB1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Sublime Text 2.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>98D0EFBB-C39A-4F91-8C23-138CDA9A37B6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>14</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>E</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>8B6E90B1-2C92-4AEC-B261-83F905597E63</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Microsoft Office 2011/Microsoft Outlook.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>AAE4DE48-0FCE-4D6F-B987-DD0A92A30134</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>17</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>T</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F1CCFF48-6424-45D5-94F9-442F41EC0D68</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/iTerm.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>79A62EE0-DB80-4898-B30F-DB6A34C4A613</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>15</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>R</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F87EBD68-C1AA-40BD-B0A5-370C16DD2D18</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Calendar.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>09E6AB03-C2F7-4EE9-8BA3-85D5092DB33F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>A</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>0317D75E-DE8D-4815-8F7F-694BAB700986</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Adium.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>091CACA9-8C97-4926-A0A3-03BF072988D0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>3</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>F</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>288A0B32-E9DE-4A81-9359-F7F22085A891</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/System/Library/CoreServices/Finder.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>DE7A65D3-6347-42F4-B64C-81C56795F91A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Notes.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>988BB796-153C-4B29-ACA3-5A823F165B2E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>45</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>N</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>36DC1139-B5D5-4660-972A-C0896771E11A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>34</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>I</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>994AA06E-F5F6-489C-AADE-B963008610C3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/iTunes.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>5140E495-9495-4A38-AD0F-E19DFD784DD7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Xcode.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>26B924EF-CD3F-4090-8B37-8F5D718F6FA1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>7</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>X</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>55808A08-AC87-422F-B3E1-3D6F4784225B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Slack.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>7DC15F1F-AF73-45F4-B96F-05BA36B1EBAD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>37</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>L</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>39073161-6072-4127-8240-7B8E043F38AE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Messages.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>77575FEC-9B0A-4A2C-A3A8-C39BE40B9FD0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>46</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>M</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>78C9AF81-2301-41FF-BA0E-19B983C8E38D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0317D75E-DE8D-4815-8F7F-694BAB700986</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>091CACA9-8C97-4926-A0A3-03BF072988D0</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>09E6AB03-C2F7-4EE9-8BA3-85D5092DB33F</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>220CE0F7-7F59-468E-9D1C-A4070FFCFBB1</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>26B924EF-CD3F-4090-8B37-8F5D718F6FA1</key>
		<dict>
			<key>ypos</key>
			<real>1090</real>
		</dict>
		<key>288A0B32-E9DE-4A81-9359-F7F22085A891</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>36DC1139-B5D5-4660-972A-C0896771E11A</key>
		<dict>
			<key>ypos</key>
			<real>850</real>
		</dict>
		<key>39073161-6072-4127-8240-7B8E043F38AE</key>
		<dict>
			<key>ypos</key>
			<real>1210</real>
		</dict>
		<key>5140E495-9495-4A38-AD0F-E19DFD784DD7</key>
		<dict>
			<key>ypos</key>
			<real>970</real>
		</dict>
		<key>55808A08-AC87-422F-B3E1-3D6F4784225B</key>
		<dict>
			<key>ypos</key>
			<real>1090</real>
		</dict>
		<key>77575FEC-9B0A-4A2C-A3A8-C39BE40B9FD0</key>
		<dict>
			<key>ypos</key>
			<real>1330</real>
		</dict>
		<key>78C9AF81-2301-41FF-BA0E-19B983C8E38D</key>
		<dict>
			<key>ypos</key>
			<real>1330</real>
		</dict>
		<key>79A62EE0-DB80-4898-B30F-DB6A34C4A613</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>7DC15F1F-AF73-45F4-B96F-05BA36B1EBAD</key>
		<dict>
			<key>ypos</key>
			<real>1210</real>
		</dict>
		<key>8B6E90B1-2C92-4AEC-B261-83F905597E63</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>988BB796-153C-4B29-ACA3-5A823F165B2E</key>
		<dict>
			<key>ypos</key>
			<real>850</real>
		</dict>
		<key>98D0EFBB-C39A-4F91-8C23-138CDA9A37B6</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>994AA06E-F5F6-489C-AADE-B963008610C3</key>
		<dict>
			<key>ypos</key>
			<real>970</real>
		</dict>
		<key>AAE4DE48-0FCE-4D6F-B987-DD0A92A30134</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>CE3A2B29-CF53-466A-B97D-E9B1CC7EEF43</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>DE7A65D3-6347-42F4-B64C-81C56795F91A</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>E24CDF92-61A0-4DB7-94E3-AB041940266D</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>F1CCFF48-6424-45D5-94F9-442F41EC0D68</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>F87EBD68-C1AA-40BD-B0A5-370C16DD2D18</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
